@import bourbon/bourbon
@import mixins
@import variables

.awesome-form
  input
    background: none
    border: none
    border-bottom: $border
    padding: 15px 40px
    font-size: 18px
    display: inline-block
    width: 100%

    &:focus,
    &:active
      outline: none

  .input-group
    display: inline-block
    margin-right: 20px
    position: relative
    +center
    margin: 20px 0px
    width: 50%

    input
      padding: 15px 0px

    label
      +position(absolute, 50% null null 0px)
      +transform(translateY(-50%))
      font:
        size: 18px
        style: italic
      color: #999
      pointer-events: none

    input:focus + label,
    input:valid + label,
    input.has-value + label
      top: -10px
      font-size: 12px
      color: #aaa
      +transition

    textarea
      width: 100%
      border: none
      // border-bottom: $border
      font-size: 18px
      padding: 20px
      box-shadow: $material-shadow

      &:focus
        outline: none

  .input-group-textarea
    width: 75%